{% extends 'base.html' %}

{% block content %}
  <div>
    <div style="text-align: center; max-width: 500px; margin: 2rem auto;">

      <!--포로파일이 있다면 이미지,닉네임,메시지,편집보아게-->
      {% if target_user.profile %}
        {% if target_user.profile.image %}
          <img src="{{ target_user.profile.image.url }}" alt=""
           style="height: 10rem; width: 10rem; border-radius: 20rem; margin-bottom: 2rem;
           object-fit: cover;">
        {% endif %}
      <h2 style="font-family: NanumSquareB;">
        {{ target_user.profile.nickname }}
        <!-- 프로필 편집(이미지,닉네임,메시지)-->
        {% if target_user == user %}
        <a class="material-icons"
           style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem;"
           href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
          edit
        </a>
        {% endif %}
      </h2>
      <!--  대화명(메시지) 출력 -->
      <h5 style="margin-bottom:3rem;">
        {{ target_user.profile.message }}
      </h5>

      {% else %}
        {% if target_user == user %}
        <a href="{% url 'profileapp:create' %}">
          <h2 style="font-family: 'NanumSquareB'">
            Create Profile
          </h2>
        </a>
        {% else %}
        <h2>
          프로필 미설정
        </h2>
        {% endif %}
      {% endif %}

      <!-- 비밀번호 변경(update)-->
      {% if target_user == user %}
      <a class="material-icons"
         style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .1rem;"
         href="{% url 'accountapp:update' pk=target_user.pk %}">
          settings
      </a>
      <!-- 회원탈퇴(delete) -->
      <a class="material-icons"
         style="box-shadow: 0 0 4px #fcc; border-radius: 10rem; padding: .4rem;"
         href="{% url 'accountapp:delete' pk=target_user.pk %}">
          cancel
      </a>
      {% endif %}

    </div>
<hr>
    <div>
      {% include 'snippets/list_fragment.html' with article_list=object_list%}
    </div>

  </div>

{% endblock %}