{% if article.image %}
  <div style="display: block; text-align: center; box-shadow: #ccc 0 0 2rem;
   margin: .3rem 0.1rem">
    <img src="{{ article.image.url }}" alt="">
    <div class="shadow"></div>
    <h5 class="mt-2" style="font-family: 'NanumSquareB'">
      {{ article.title | truncatechars:8 }}
    </h5>
    {% if  article.like > 0 %}
    <i class="material-icons" style="color: #ff6363; vertical-align: middle; font-size: .8rem">
            favorite
    </i>
    <span style= "vertical-align: middle; font-size: .8rem">
          {{article.like}}
    </span>
    {% endif %}
  </div>
{% else %}
  <div style="display: block; text-align: center; box-shadow: #ccc 0 0 2rem;
   margin: .3rem 0.1rem; " >
    <h5 class="mt-2" style="font-family: 'NanumSquareB';">
      {{ article.title | truncatechars:8 }}
    </h5>
    {% if  article.like > 0 %}
    <i class="material-icons" style="color: #ff6363; vertical-align: middle; font-size: .8rem">
            favorite
    </i>
    <span style= "vertical-align: middle; font-size: .8rem">
          {{article.like}}
    </span>
    {% endif %}
  </div>
{% endif %}